
.angle-double-lefticon-credit:before { content: '\f100'; } /* '' */
.angle-double-righticon-credit:before { content: '\f101'; } /* '' */
.angle-lefticon-credit:before { content: '\f104'; } /* '' */
.angle-righticon-credit:before { content: '\f105'; } /* '' */
.lefticon-credit:before { content: '\f177'; } /* '' */